<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<h1>Songs for kids</h1>
<h4>Symfony application</h4>

<ul>
    <li><a href="{{  path('baa-url') }}">Baa, baa black sheep</a></li>
    <li><a href="{{  path('sixpence-url') }}">Sing a song of sixpence</a></li>
    <li><a href="{{  path('hush-url') }}">Hush, little baby</a></li>
</ul>

{% block body %}{% endblock %}

</body>
</html>
