{% extends '::base.html.twig' %}

{% block title %}Baa, baa, black sheep{% endblock %}

{% block body %}
    <h2>Baa, baa, black sheep</h2>
    <p>
        Baa, baa, black sheep,<br/>
        Have you any wool?<br/>
        Yes, sir, yes, sir,<br/>
        Three bags full;<br/>
        One for the master,<br/>
        And one for the dame,<br/>
        And one for the little boy<br/>
        Who lives down the lane.
    </p>
{% endblock %}