{% extends '::base.html.twig' %}

{% block title %}Hush, little baby{% endblock %}

{% block body %}
    <h2>Hush, little baby</h2>
    <p>
        Hush, little baby, don't say a word<br/>
        Mama's gonna buy you a mockin'bird<br/>
        <br/>
        If that mockin'bird don't sing<br/>
        Mama's gonna buy you a diamond ring<br/>
        <br/>
        If that diamond ring turns brass,<br/>
        Mama's gonna buy you a looking glass<br/>
        <br/>
        If that looking glass gets broke<br/>
        Mama's gonna buy you a billy goat<br/>
        <br/>
        If that billy goat don't pull,<br/>
        Mama's gonna buy you a cart and mule<br/>
        <br/>
        If that cart and mule turn over<br/>
        Mama's gonna buy you a dog named Rover<br/>
        <br/>
        If that dog named Rover won't bark<br/>
        Mama's gonna buy you a horse and cart<br/>
        <br/>
        If that Horse and Cart fall down,<br/>
        Then you'll be the sweetest little baby in town
    </p>
{% endblock %}



