{% extends '::base.html.twig' %}

{% block title %}Sing a song of sixpence{% endblock %}

{% block body %}
    <h2>Sing a song of sixpence</h2>
    <p>
        Sing a song of sixpence,<br/>
        A pocket full of rye;<br/>
        Four and twenty blackbirds<br/>
        Baked in a pie.<br/>
        When the pie was opened,<br/>
        They all began to sing.<br/>
        Now, wasn't that a dainty dish<br/>
        To set before the King?<br/>
        <br/>
        The King was in his countinghouse,<br/>
        Counting out his money;<br/>
        The Queen was in the parlor<br/>
        Eating bread and honey.<br/>
        The maid was in the garden,<br/>
        Hanging out the clothes.<br/>
        Along there came a big black bird<br/>
        And snipped off her nose!
    </p>
{% endblock %}



